body {
    background: #333;
}

a{
 text-decoration: none;
}
#n1{
	height: 70px;
}
.right{
    float: right;
    font-size: 1.3em;
}
#s1{
	height: 900px
}
#n1 span a{
    font-size: 1em;
}

h2 span, section h3 {
    display: none;
}

body {
    font-size: xx-large;
}

footer, input {
    font-size: large;
}
#ErrorMsgs{color: #f61; font-size: .5em;}