* {
    margin: 0;
    padding: 0;
   
}
body {
    font: 16px Georgia, serif;
}
a{
    text-decoration: none;
}
#n1{
    background-color: azure;
    height: 400px;
}
#n1 span a{
    font-size: 1.5em;
}

#page-wrap {
    background-color: azure;
    color: black;
    width: 95%;
    margin: 10px auto;
    height: 400px;
}

#page-wrap > .main {
    border: 1px solid black;
    padding: 1%;
	margin-bottom: 2px;
    color: black;
}
#n1{
    height: 40px;
}
#s1{
    height: 500px;
}

section > div {
    padding: 20px;
}

header, nav, section {
    background: azure;
    text-align: center;
}

footer {
    background:azure;
    text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
    height: 400px;
}

img {
    height: 200px;
    border-radius: 45%;
    display: block;
    margin: 30px auto;
    margin-bottom: 20px;
}
#ErrorMsgs{color: #f61; font-size: 1em;}