<label for="preg">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Pregunta">
<label for="resp">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Respuesta"><p><br>
<a href="/quizes" class="Section-button"> <button type="button">Cancelar</button> </a>
<input type="submit" class="Section-submit" value="Guardar">

