<center> 
<table>
	<% var i; for( i=0; i < quizes.length; i++ ){ %>
   <tr><td> <a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
	<% } %>
</table><br>
</center>
 <form action="/quizes/search" method="get">
	
<input type="text" name="search" placeholder="Ingrese su Busqueda">
<input type="submit" value="Buscar">

</form>