<center> 
<table>
	<% var i; for( i=0; i < quizes.length; i++ ){ %>
   <tr><td> <a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
	<% } %>
</table><br>
<a href="/quizes/new"> <button>Crear Pregunta</button></a></br>
</center><br>



<form action="/quizes/search" method="get">
<input type="text" name="search" placeholder="Buscar Pregunta">
<input type="submit" value="Buscar">
</form>