<form action="/quizes/<%= quiz.id %>/answer" method="get" >
	<div> Pregunta: <%= quiz.pregunta %></div> </br>
	<input type="text" name="respuesta" placeholder="Responde Aquí" />
	<input type="submit" value="Enviar"/>

</form><br>

<p>¡¡¡<b>P</b>ara las respuestas debes de poner las tildes correspondientes!!!</p>

<p>Respuesta---- br<b>ú</b>jula </p>
