<form action="/quizes/<%= quiz.id %>/answer" method="get" >
	<div> Pregunta: <%= quiz.pregunta %></div> </br>
	<input type="text" name="respuesta" placeholder="Responde Aquí" />
	<input type="submit" value="Enviar"/>

</form><br>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo Comentario</button></a></p>

<p><strong>Comentarios:</strong> </p>
  <% for( var index in quiz.Comments){ %> 
    <p> <%= quiz.Comments[index].texto %> </p>
    <% } %>

<br><br>

<p>¡¡¡<b>P</b>ara las respuestas debes de poner las tildes correspondientes!!!</p>

<p>Respuesta---- br<b>ú</b>jula </p>
